@import "../../../sass/mixins";
@import "../../../sass/variables";

.tags {
  @include flex(row, unset, center);
  flex-wrap: wrap;

  li {
    white-space: nowrap;
    background-color: $tag-bg;
    margin-bottom: $gap / 2;
    padding: 0.3rem;
    border-radius: 5px;

    &:not(:last-child) {
      margin-right: $gap;
    }
  }
}
