@import "../../../sass/variables";
@import "../../../sass/mixins";

.panels {
  order: 2;
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-rows: 1fr 1fr 1fr;
  gap: 1em 1em;
  // grid-template-areas:
  // 	". . . ."
  // 	". . . ."
  // 	". . . .";
  background-color: $white;
  padding: $gap * 2;
}
